* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 90px;
}

header {
  /* position: fixed;
  left: 0;
  top: 0;
  width: 100%; */
  background-color: rgba(255, 255, 255, 0.5);
}

.second {
  float: right;
  font-family: urw-din, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9px;
  padding-top: 5px;
}

.title {
  text-align: center;
  font-family: urw-din, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  margin-top: 20px;
}

.byline {
  text-align: center;
  font-family: urw-din, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
}

.grid-container {
  width: 50%;
  margin: auto;
  margin-top: 90px;
  position: relative;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 0.5s;
}

.grid-container::after {
  content: "";
  clear: both;
  display: grid;
}

.item {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 1px;
}

.image {
  width: 100%;
  height: 50px;
  object-fit: cover;
  opacity: 0.95;
}

.middle {
  transition: all 0.4s ease-in-out 0s;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.item:hover .image {
  opacity: 0.3;
  transition: all 0.4s ease-in-out 0s;
}

.item:hover .middle {
  opacity: 1;
  transition: all 0.4s ease-in-out 0s;
}

.texty {
  color: #3e3d3d;
  font-size: 12px;
  font-family: courier;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  margin-top: -90px;
  clear: both;
  background-color: rgba(255, 255, 255, 0.9);
}

hr {
  width: 60%;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.text {
  float: right;
  font-family: urw-din, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  padding: 10px 15px 0px 15px;
}

#clockbox {
  float: right;
  font-family: urw-din, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  padding: 10px 15px 0px 15px;
}

.bottom {
  width: 60%;
  margin: auto;
  font-family: urw-din, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;

}

li a {
  display: block;
  padding: 10px 15px 0px 15px;
  text-decoration: none;

}

li a:link {
  color: black;
}

li a:visited {
  color: black;
}

li a:hover {
  color: #84e5f1;
  transition: all 0.4s ease-in-out 0s;
}

li a:active {
  color: #84e5f1;
}

.logo {
  width:69px;
  margin-left: auto;
  margin-right: auto;
  height:10px;
  margin-top: 20px;
}

.logos {
  float: left;
  width: 13px;
  padding-right: 10px;
}

.contactlogo {
  display: inline;
  width: 13px;
  padding-right: 10px;
}

.me {
  width: 22.8%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 21%;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 0.5s;
}

.about {
  float: right;
  width: 33%;
  padding-top: 12%;
  padding-right: 20%;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 0.5s;
}

.contact {
  float: right;
  width: 33%;
  padding-top: 12%;
  padding-right: 13%;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 0.5s;
}

.archive {
  width: 40%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 21%;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 0.5s;
}

p {
  font-family: courier;
  font-size: 11px;
  padding: 10px;
  color: #3e3d3d;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 0.5s;
}

.archiveimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-bottom: 75px;
  -webkit-animation-name: appear;
  -webkit-animation-duration: 0.5s;
}

.resume:link {
  color: #3e3d3d;
}

.resume:visited {
  color: #3e3d3d;
}

@-webkit-keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
